
.DS_Store
api/__pycache__

controller/__pycache__

frontend/__pycache__

frontend/node_modules

node_modules
db.sqlite3
manage.py

db.sqlite3
db.sqlite3
api/__pycache__/views.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
db.sqlite3
frontend/static/frontend/main.js
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
db.sqlite3
frontend/static/frontend/main.js.LICENSE.txt
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
db.sqlite3
frontend/static/frontend/main.js
*.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
db.sqlite3
api/__pycache__/views.cpython-310.pyc
db.sqlite3

frontend/node_modules