
.DS_Store
api/__pycache__
api/migrations

controller/__pycache__

frontend/__pycache__
frontend/migrations
frontend/node_modules
frontend/package-config.json
frontend/package.json
frontend/webpack.config.js

node_modules
db.sqlite3
manage.py
package-lock.json
package.json

db.sqlite3
db.sqlite3
